[submodule "third_party/nasm"]
	path = third_party/nasm
	url = git://repo.or.cz/nasm.git
[submodule "third_party/tcc"]
	path = third_party/tcc
	url = https://github.com/TinyCC/tinycc.git
[submodule "third_party/grub"]
	path = third_party/grub
	url = git://git.savannah.gnu.org/grub.git
